@model ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDetailsModel

<div id="corrDetails" class="corrDetails">
    <div id="corrHeader">
        @ITGateWorkDesk.Resources.Resources.Correspondence @Model.CorrespondenceOrigin 
        @ITGateWorkDesk.Resources.Resources.CorrNoIs
        @Html.ActionLink(Model.CorrespondenceID.ToString(), "Details", new { id = Model.CorrespondenceID })
    </div>
    
    fdgdfgfg
</div>
