<script language="javascript" type="text/javascript">

     $(document).ready(function() {
          counter = 1;
     });
     function deleteDiv(toDeleteId) {
         $("#fileDiv" + toDeleteId).remove();
//         $("#deleteUploadBtn" + toDeleteId).remove();
     }
     $(".addAttachment").live("click", function () {
         counter = (isNaN(counter) ? 0 : counter) + 1;
         $("#attachmentsParitalDiv").append(
            '<div id="fileDiv' + counter + '"><input name="Attachments" type="file" id="file' + counter + '" />' +
                '<input type="button" id="deleteUploadBtn' + counter + '" onclick="deleteDiv(' + counter + ');" value="X"/>' +
                '<br /><input type="textarea" id="AttachmentDescriptions" name="AttachmentsDescriptions"/>' +
                    '</dvi>'
        );
     });

    $("#ajaxUploadForm").ajaxForm({
        iframe: "true",
        dataType: "json",
        success: function (response) {
            var msg = response.message;
            alert(msg);
        }
    });
</script>


@*@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { id = "ajaxUploadForm", enctype = "multipart/form-data" }))
{*@
    <div id="attachmentsParitalDiv">
        <input id="file" name="Attachments" type="file" value="" />
        <input type="button" id="addAttachment" name="addAttachment" value="+" class="addAttachment" />
        
    </div>
    @*<input id="ajaxUploadButton" type="submit" value="Submit" />*@
@*}
*@