@model IEnumerable<ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDraftModel>

@{
    ViewBag.Title = "Drafts";
    ViewBag.PageHeader = ITGateWorkDesk.Resources.Resources.TheDrafts;
}

<table>
    <tr>
        <th>
            CorrespondenceID
        </th>
        <th>
            CorrespondenceTitle
        </th>
        <th>
            DraftDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CorrespondenceID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrespondenceTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DraftDate)
        </td>
        <td>
            @Html.ActionLink("Create", "Create", new { draft = item.ID }) 
        </td>
    </tr>
}

</table>
