@model IEnumerable<ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDetailsModel>
@{
    ViewBag.Title = "List";
}
<h2>List</h2>
@using (Html.BeginForm())
{
    
}
@if (IsPost)
{
    Html.Partial("ListPartial", ViewBag.CorrList as IEnumerable<ITGateWorkDesk.Web.Mvc.Models.CorrespondenceDetailsModel>);
}